*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main{
    width: 90%;
    margin: auto;
}

.title h1{
    color: #E53170;
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
}

.description{
    text-align: center;
    font-size: 22px;
    margin: 10px 0 30px 0;
}

.profile{
    width: calc(100%/3 - 20px);
    height: 120px;
    background-color: #0F0E17;
    float: left;
    margin-bottom: 25px;
    margin-top: 25px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.profile_img{
    height: 120px;
    float: left;
}

.bio{
    color: white;
    float: left;
    padding: 10px 0 10px 15px;
}

.bio span{
    display: block;
}

.bio h3{
    font-size: 20px;
}

.profession{
    padding: 14px 0;
    font-size: 18px;
}

.mail{
    color: #67BFE1;
    font-size: 18px;
}

.middle_photo{
    margin: 25px 30px;
}